# Игнорировать абсолютно всё
*

# Разрешить отслеживать сам .gitignore
!.gitignore

# Разрешить Git зайти в саму папку wp-content
!/wp-content/

# Разрешить отслеживать всё содержимое внутри wp-content
!/wp-content/**
