# Игнорировать абсолютно всё в проекте
*

# Разрешить отслеживать сам .gitignore
!.gitignore

# Разрешить Git заходить в папку themes
!/themes/

# Разрешить отслеживать всё содержимое внутри папки themes
!/themes/**
